<form action="/checkin" method="POST">
	<h3>When would you like to come?</h3>

	<div class="form-group">
			<label for="exampleInputName">Name:</label>
			<input type="text" class="form-control" id="exampleInputName" placeholder="Your name" name="username" />
	</div>

	<div class="form-group">
			<label for="exampleInputPhone">Phone:</label>
			<input type="tel" class="form-control" id="exampleInputPhone" placeholder="Your name" name="userphone" />
	</div>

	<div class="form-group">
			<label for="exampleInputDateTime">Date and time you'll come:</label>
			<input type="datetime-local" class="form-control" id="exampleInputDateTime" placeholder="Your name" name="date_time" />
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>