<div class="container">
	<form action="/contacts" method="POST">
	<h3>When would you like to come?</h3>

	<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail" placeholder="Email" name="email" />
	</div>

	<div class="form-group">
			<textarea name="comment" class="form-control" rows="3" placeholder="Put your message here"></textarea>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>