<div class="container">
	<h1>Welcome to Barber Shop!</h1>

<div class="alert alert-info" role="alert">We are open</div>

<table class="table reserved">
	<thead>
		<tr>
			<td colspan = "11">Monday</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/checkin" class="available alert-success">10:00</a></td>
			<td><a href="/checkin" class="available alert-success">11:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">13:00</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a href="/checkin" class="available alert-success">18:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11">Tuesday</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">11:00</a></td>
			<td><a href="/checkin" class="available alert-success">12:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">16:00</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">20:00</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11">Wednesday</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/checkin" class="available alert-success">10:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">13:00</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a href="/checkin" class="available alert-success">15:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">19:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11">Thursday</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/checkin" class="available alert-success">10:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">13:00</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a href="/checkin" class="available alert-success">15:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a href="/checkin" class="available alert-success">18:00</a></td>
			<td><a href="/checkin" class="available alert-success">19:00</a></td>
			<td><a href="/checkin" class="available alert-success">20:00</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11">Friday</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">11:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">16:00</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a href="/checkin" class="available alert-success">18:00</a></td>
			<td><a href="/checkin" class="available alert-success">19:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11">Saturday</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11">Sunday</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">13:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">15:00</a></td>
			<td><a href="/checkin" class="available alert-success">16:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
</table>
</div>




