<h1>Welcome to Barber Shop!</h1>

<div class="alert alert-info" role="alert">We are open</div>

<table class="table reserved">
	<thead>
		<tr colspan = "11">
			<td>Понедельник</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>10:00</td>
			<td>11:00</td>
			<td>Занято</td>
			<td>13:00</td>
			<td>14:00</td>
			<td>Занято</td>
			<td>Занято</td>
			<td>17:00</td>
			<td>18:00</td>
			<td>Занято</td>
			<td>Занято</td>
		</tr>
	</tbody>
	<thead>
		<tr colspan = "11">
			<td>Вторник</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>10:00</td>
			<td>11:00</td>
			<td>Занято</td>
			<td>13:00</td>
			<td>14:00</td>
			<td>Занято</td>
			<td>Занято</td>
			<td>17:00</td>
			<td>18:00</td>
			<td>Занято</td>
			<td>Занято</td>
		</tr>
	</tbody>
	<thead>
		<tr colspan = "11">
			<td>Среда</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>10:00</td>
			<td>11:00</td>
			<td>Занято</td>
			<td>13:00</td>
			<td>14:00</td>
			<td>Занято</td>
			<td>Занято</td>
			<td>17:00</td>
			<td>18:00</td>
			<td>Занято</td>
			<td>Занято</td>
		</tr>
	</tbody>
	<thead>
		<tr colspan = "11">
			<td>Четверг</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>10:00</td>
			<td>11:00</td>
			<td>Занято</td>
			<td>13:00</td>
			<td>14:00</td>
			<td>Занято</td>
			<td>Занято</td>
			<td>17:00</td>
			<td>18:00</td>
			<td>Занято</td>
			<td>Занято</td>
		</tr>
	</tbody>
	<thead>
		<tr colspan = "11">
			<td>Пятница</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>10:00</td>
			<td>11:00</td>
			<td>Занято</td>
			<td>13:00</td>
			<td>14:00</td>
			<td>Занято</td>
			<td>Занято</td>
			<td>17:00</td>
			<td>18:00</td>
			<td>Занято</td>
			<td>Занято</td>
		</tr>
	</tbody>
	<thead>
		<tr colspan = "11">
			<td>Суббота</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>10:00</td>
			<td>11:00</td>
			<td>Занято</td>
			<td>13:00</td>
			<td>14:00</td>
			<td>Занято</td>
			<td>Занято</td>
			<td>17:00</td>
			<td>18:00</td>
			<td>Занято</td>
			<td>Занято</td>
		</tr>
	</tbody>
	<thead>
		<tr colspan = "11">
			<td>Воскресенье</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>10:00</td>
			<td>11:00</td>
			<td>Занято</td>
			<td>13:00</td>
			<td>14:00</td>
			<td>Занято</td>
			<td>Занято</td>
			<td>17:00</td>
			<td>18:00</td>
			<td>Занято</td>
			<td>Занято</td>
		</tr>
	</tbody>
</table>




